<!doctype html>
<html class="no-js" lang="en">
<%- include( 'partials/head.ejs' ) %>


    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="wrapper">

            <%- include( 'partials/header.ejs' ) %>


                <div class="page-wrap">
                    <%- include( 'partials/pro-sidebar.ejs' ) %>

                        <div class="main-content">
                            <div class="container-fluid">
                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <i class="ik ik-file-text bg-blue"></i>
                                                <div class="d-inline">
                                                    <h5>Profile</h5>
                                                    <span>lorem ipsum dolor sit amet, consectetur adipisicing
                                                        elit</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <nav class="breadcrumb-container" aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item">
                                                        <a href="../index.html"><i class="ik ik-home"></i></a>
                                                    </li>
                                                    <li class="breadcrumb-item">
                                                        <a href="#">Pages</a>
                                                    </li>
                                                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <img src="../img/user.jpg" class="rounded-circle" width="150" />
                                                    <h4 class="card-title mt-10"><%= userInfo.name %></h4>
                                                    <p class="card-subtitle"><%= userInfo.email %></p>
                                                    <div class="row text-center justify-content-md-center">
                                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i
                                                                    class="ik ik-user"></i>
                                                                <font class="font-medium">4.5</font>
                                                            </a></div>
                                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i
                                                                    class="ik ik-image"></i>
                                                                <font class="font-medium">54 jobs</font>
                                                            </a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="mb-0">
                                            <div class="card-body">
                                                <small class="text-muted d-block">About</small>
                                                <p><%= userInfo.bio %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-7">
                                        <div class="card">
                                            <div class="card-body">
                                                <form class="form-horizontal" action="/update-profile" method="post">
                                                    <div class="form-group">
                                                        <label for="example-name">Full Name</label>
                                                        <input type="text" placeholder="Johnathan Doe"
                                                            class="form-control" name="fname" id="fname" value="<%= userInfo.name %>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="experience">Years of Experience</label>
                                                        <input type="number" placeholder="2" class="form-control" name="yearsOfExperience" id="yearsOfExperience" value="<%= userInfo.yearsOfExperience %>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="example-email">Email</label>
                                                        <input type="email" placeholder="johnathan@admin.com"
                                                            class="form-control" name="email"
                                                            id="email" value="<%= userInfo.email %>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="example-phone">Phone No</label>
                                                        <input type="number" placeholder="123 456 7890" id="telephone"
                                                            name="telephone" class="form-control" value="<%= userInfo.telephone %>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="example-message">Bio</label>
                                                        <textarea name="bio" name="bio" rows="5"
                                                            class="form-control"><%= userInfo.bio %></textarea>
                                                    </div>

                                                    <button class="btn btn-success" type="submit">Update
                                                        Profile</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>

        <%- include( 'partials/appsmodal.ejs' ) %>
            <%- include( 'partials/scripts.ejs' ) %>
    </body>

</html>